<widget id="A6019183991017" version="0.0.1">
    <name>cnbany</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
<content src="./dist/index.html" />/>
    <access origin="*"/>
    <!--沉浸式效果-->
    <preference name="statusBarAppearance" value="true"/>
    <preference name="fullScreen" value="true"/>
    <preference name="backgroundMode" value="audio | location "/>
    <feature name="aMap">
        <param name="android_api_key" value="e9f9ee1817503546c199e133cf7aafd6"/>
    </feature>
    <preference name="pageBounce" value="false"/>
    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
    <preference name="hScrollBarEnabled" value="false"/>
    <preference name="vScrollBarEnabled" value="false"/>
    <preference name="autoLaunch" value="true"/>
    <preference name="fullScreen" value="false"/>
    <preference name="autoUpdate" value="true"/>
    <preference name="smartUpdate" value="false"/>
    <preference name="debug" value="true"/>
    <preference name="statusBarAppearance" value="true"/>
    <permission name="readPhoneState"/>
    <permission name="camera"/>
    <permission name="record"/>
    <permission name="location"/>
    <permission name="fileSystem"/>
    <permission name="internet"/>
    <permission name="bootCompleted"/>
    <permission name="hardware"/>
    <!-- modify -->

    <!-- modify -->
</widget>
